.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    max-width: 100px;
    height: auto; /* keeps aspect ratio */
}
.nav-items > ul {
    display: flex;
    font-size: 20px;
}
.nav-items > ul > li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.restaurant-card{
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.restaurant-card:hover{
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
.restaurant-logo{
    width: 100%;
}
.search{
    padding: 10px;
}
.filter-search-container{
    padding: 5px;
    display: flex;
}
.filter-btn{
    padding: 10px;
    text-align: center;
}